<style>
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

.btn-matrix > .btn:nth-child(3n+4) {
  clear: left;
  margin-left: 0;
}
.btn-matrix > .btn:nth-child(n+4) {
  margin-top: -1px;
}
.btn-matrix > .btn:first-child {
  border-bottom-left-radius: 0;
}
.btn-matrix > .btn:nth-child(3) {
  border-top-right-radius: 4px !important;
}
.btn-matrix > .btn:nth-last-child(3) {
  border-bottom-left-radius: 4px !important;
}
.btn-matrix > .btn:last-child {
  border-top-right-radius: 0;
}
.btn
{
  border-radius: 60%;
}

</style>
<h1>Othello Board</h1>
<h2>
<% $game_board.each do |i| %>
  <% i.each do |x|%>
    <div class="btn-group btn-matrix">
      <button type="button" class="btn btn-default">B</button>
    </div>
    <%end%>
<%end%>
</h2>
