
<h1>Othello Board</h1>
<style>
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
.btn-matrix > .btn:nth-child(8n+9) {
  clear: left;
  margin-left: 50px;
}
.btn-matrix > .btn:nth-child(n+9) {
  margin-top: -1px;
}
.btn-matrix > .btn:first-child {
  margin-left: 50px;
  border-top-left-radius: 41px;
}
.btn-matrix > .btn:nth-child(8) {
  border-top-right-radius: 41px !important;
}
.btn-matrix > .btn:nth-child(57) {
  border-bottom-left-radius: 41px !important;
}
.btn-matrix > .btn:last-child {
  border-bottom-right-radius: 41px;
}
.btn-matrix {
  margin: 20px;
}
</style>
<div class="btn-group btn-matrix">
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 1</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 2</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 3</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 4</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 5</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 6</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 7</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 8</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 1</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 2</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 3</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 4</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 5</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 6</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 7</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 8</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 1</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 2</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 3</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 4</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 5</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 6</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 7</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 8</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 1</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 2</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 3</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 4</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 5</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 6</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 7</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 8</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 1</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 2</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 3</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 4</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 5</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 6</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 7</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 8</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 1</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 2</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 3</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 4</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 5</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 6</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 7</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 8</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 1</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 2</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 3</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 4</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 5</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 6</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 7</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 8</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 1</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 2</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 3</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 4</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 5</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 6</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 7</button>
  <button style="height:100px;width:100px" type="button" class="btn btn-default">Button 8</button>
</div>
